.circle {
  background: rgb(45,34,254);
  background: linear-gradient(0deg, rgba(45,34,254,1) 65%, rgba(69,157,207,1) 75%);
  border: 5px solid #4a4a4a;
  border-radius: 50%;
  height: 250px;
  width: 250px;
}