.menu {
  position: absolute;
  right: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.9);
  max-width: 25vw;
  width: 100%;
  &-list {
    a:hover {
      background-color: #3c8899;
      color: #fff;
    }
  }
}

.hide {
  display: none;
}

.ham {
  position: absolute;
  right: 0;
  z-index: 4;
  display: block;
  cursor: pointer;
  transition: transform 400ms;
  user-select: none;

  .top {
    stroke-dasharray: 40 160;
  }

  .middle {
    stroke-dasharray: 40 142;
    transform-origin: 50%;
    transition: transform 400ms;
  }

  .bottom {
    stroke-dasharray: 40 85;
    transform-origin: 50%;
    transition: transform 400ms, stroke-dashoffset 400ms;
  }

  &.active {
    .top {
      stroke-dashoffset: -64px;
    }

    .middle {
      transform: rotate(90deg);
    }

    .bottom {
      stroke-dashoffset: -64px;
    }
  }
}

.hamRotate.active {
  transform: rotate(45deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}